# ide related files
.idea
.DS_Store

# python related files
*.pyc
draft.py

# app related files
/logs/*
/files/*
local_settings.py

/output/*

tweets.p

ids_stream_watchdog.sh
live_stream_watchdog.sh
*.log
/pids/*
